.App {
  text-align: center;
}

.root {
  max-width: 393px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

@font-face {
  font-family: "KBFGDisplayB";
  src: url("./fonts/KBFGDisplayB.ttf");
}
@font-face {
  font-family: "KBFGDisplayL";
  src: url("./fonts/KBFGDisplayL.ttf");
}
@font-face {
  font-family: "KBFGDisplayM";
  src: url("./fonts/KBFGDisplayM.ttf");
}
@font-face {
  font-family: "KBFGDisplayMI";
  src: url("./fonts/KBFGDisplayMI.ttf");
}
@font-face {
  font-family: "KBFGTextB";
  src: url("./fonts/KBFGTextB.ttf");
}
@font-face {
  font-family: "KBFGTextL";
  src: url("./fonts/KBFGTextL.ttf");
}
@font-face {
  font-family: "KBFGTextM";
  src: url("./fonts/KBFGTextM.ttf");
}
